/* Import Google font - Poppins */

.wrapper-calendar {
  width: 1124px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.wrapper-calendar header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 55px;
  font-weight: 500;
  color: #000000;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 33px;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 68px;
  width: 68px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #000000;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}
.eventIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.eventIcons p {
  margin-bottom: 0;
}
.eventImg {
  width: 123px;
  height: 115px;
  border-radius: 10px;
  background: #000000;
  object-fit: cover;
}
.monthlyCalendar {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 786px;
  height: auto; /* You may set a specific height or use 'auto' for variable height */
  transform: translate(-50%, -50%);
  z-index: 999;
}
.weeklyCalendar {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1124px;
  height: 775px; /* You may set a specific height or use 'auto' for variable height */
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow: scroll;
}
.calendar-box {
  width: 100%;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  z-index: 9999;
}
.calendarClose {
  position: absolute;
  top: -17px;
  right: -17px;
  margin: 20px;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 9999999;
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarClose svg {
  width: 18px;
}
.event-img {
  padding: 20px 10px;
  position: relative;
}
.event-img img {
  width: 134px;
  height: 134px;
  object-fit: cover;
  display: inherit;
  border-radius: 10px;
}
.emptyEvent {
  width: 134px;
  height: 134px;
  margin: 20px 10px;
}
.event-img p {
  color: #000;
  margin-top: 8px;
  font-size: 16px;
}
.eventCount {
  position: absolute;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -20px;
  left: 6px;
  background: #996bfb;
  color: #fff;
  border-radius: 50%;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.categoryCal {
  position: absolute;
  left: 0px;
  width: auto;
  height: 29px;
  color: #fff;
  background: #996bfb;
  border-radius: 10px 0px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0px 10px;
}
.calendarData {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #996bfb;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  font-size: 13px;
}
.multiEvent {
  position: relative;
}

.details-img .thumbnailSmallImg {
  display: -webkit-box !important;
  overflow: scroll !important;
}
.thumbnailSmallImg li img {
  width: 113px !important;
  height: 113px !important;
  border-radius: 10px;
  object-fit: cover;
}
ul.thumbnailSmallImg li img.active {
  border: 2px solid #000;
}
span.catName {
  background: #996bfb;
  color: #fff;
  padding: 3px 10px;
  border-radius: 10px 0px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 10px;
}
.merchImage {
  width: 312px;
  height: 208px;
  object-fit: cover;
}
.checkoutBtn {
  background: #000;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 30%;
  padding: 10px 20px;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.different_address {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.different_address input {
  display: inline-block;
  width: 20px !important;
  height: 20px;
}
.btnDisable {
  background: #ddd;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 30%;
  padding: 10px 20px;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  border-radius: 50px;
  cursor: not-allowed;
}
.billingDetails {
  text-align: center;
  color: red;
}
div#payment-message {
  text-align: center;
  color: red;
}
span.cartCount {
  position: absolute;
  top: -8px;
  right: 0;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

/* Loader */

.loader {
  position: relative;
  width: 64px;
  height: 60px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background: #e9cbf4;
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* End Loader */

.loading {
  /* display: flex; */
  position: inherit;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  /* opacity: 0.6; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
}
.calenderLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
span.cartRemove {
  height: 30px;
  width: 30px;
  background: #000;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
}
span.cartRemove svg {
  height: 20px;
}
a {
  cursor: pointer !important;
}
ul.singlePrdQty svg {
  width: 20px;
}
ul.singlePrdQty li {
  display: flex;
  gap: 8px;
}
.qtyButton {
  cursor: pointer;
}
.subccessSubscription {
  text-align: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 15px;
}
.addressAuto {
  margin: 0 !important;
  position: relative;
}
.addressList {
  position: absolute;
  top: 50px;
  left: -5px;
  width: 100%;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: -1px 1px 62px -21px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: -1px 1px 62px -21px rgba(0, 0, 0, 0.92);
  box-shadow: -1px 1px 62px -21px rgba(0, 0, 0, 0.92);
}
.date-center h4.tp-title {
  text-align: center;
  margin: 0 auto;
}
.details-img {
  position: relative;
}
.arrowLetf {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  z-index: 99999;
  width: 50px;
}
.arrowRight {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 99999;
  width: 50px;
  cursor: pointer;
}
.prdItems {
  width: 25%;
  margin-bottom: 15px;
}
.contactBtn {
  width: auto !important;
}
.merch-section .merch-wrap .merch-item-img {
  padding-top: 210px;
  position: relative;
  margin-bottom: 70px;
}
.merch-section .merch-wrap .merch-item-img:after {
  background-image: url("../public/images/train.png");
  background-repeat: no-repeat;
  background-size: 100% 170px;
  background-position: top;
  padding-top: 160px;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.prdItems {
  z-index: 9;
}

@media only screen and (max-width: 769px) {
  .monthlyCalendar {
    width: 98%;
  }
  .weeklyCalendar {
    width: 98%;
  }
  header .current-date {
    font-size: 30px;
  }
  .prdItems {
    width: 100%;
  }
  .merchImage {
    width: 100%;
    height: 250px;
  }
}
.topEvent {
  width: 600px;
  height: 100% !important;
  overflow: visible;
}
.topEventTitle {
  text-align: center;
  margin-bottom: 30px;
}
.topEventSignup {
  text-align: center;
}

.signupInput {
  width: 100%;
  height: 70px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: none;
  color: #000;
  text-align: center;
}
.signupInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
.topEventBox {
  background: rgb(0 0 0 / 99%);
}
.socialMedia ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.subTitle {
  color: #000;
  font-size: 35.076px;
  font-family: Bebas Neue;
  font-weight: 700;
}
.hero-section .hero-section-video {
  overflow: hidden;
}
.heroImage img {
  height: 450px !important;
  width: 100% !important;
  object-fit: cover;
}

.mainComing {
  position: relative;
}
.passwordField {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background: #fff;
  padding: 10px;
  box-shadow: -1px 1px 62px -21px rgba(0, 0, 0, 0.92);
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  padding: 40px 30px;
}
.passText {
  font-size: 20px;
}
.passInput {
  width: 100%;
  height: 60px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: none;
  color: #000;
  text-align: center;
}
.passSubmitButton {
  background: #000;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  padding: 10px 20px;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 1800px) {
  .heroImage img {
    height: 600px !important;
  }
}

@media only screen and (max-width: 786px) {
  .merch-section .merch-wrap .merch-img-wrap.prdItemGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .prdItemGrid .prdItems {
    margin-bottom: 0px;
  }
  .merch-section .merch-wrap .merch-img-wrap .merch-img-item {
    padding: 0px;
  }
  .merchImage {
    height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .monthlyCalendar {
    width: 98%;
  }
  .weeklyCalendar {
    width: 98%;
  }
  header .current-date {
    font-size: 30px;
  }
  .topEvent {
    overflow: scroll;
  }
  .merchImage {
    height: 175px;
  }
  .merch-section .merch-wrap .merch-item-img:after {
    background-size: 100% 80px;
  }
  .merch-section .merch-wrap .merch-item-img {
    padding-top: 100px;
  }
}
